body {
    margin: 50px 25px 25px 25px;
    padding: 0;
    background: #fff;
    background-image: linear-gradient(270deg, rgb(232, 227, 235) 0%, rgb(255, 255, 255) 100%);
    -webkit-font-smoothing: antialiased;
    color: #545454;
    font-size: 20px; 
}

   
h1 { 
    font-family: "Walter Turncoat", "Atomic Age", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px; 
    font-variant: normal; 
    font-weight: 450; 
    color: #545454;
    padding: 0;
    margin: 0;
    margin-top: 0.8em;
    margin-bottom: -10px; 
}

h2 { 
    font-family:  Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; 
    
    font-variant: normal; 
    font-weight: normal; 
    color:#545454;
    margin-top:0px}
    
h3 { 
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px; 
    font-variant: normal; 
    font-weight: normal; 
    color:#8C749C;
    padding: 0;
    margin: 0;
    margin-top: 0; 
}
.title {
 font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 3px 9px 9px;
}

.topnav {
    overflow: hidden;
    background-color: #472060;
    border: 2px solid #8C749C;
}

.topnav a {
    font-family:  Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 350;
    font-size: 24px;
    float: left;
    color: #fff;
    text-align: center;
    padding: 3px 7px;
    text-decoration: none;

}

.topnav a:hover {
  background-color: #8C749C;
  color: white;
    
}

.topnav a.active {
    background-color: #fff;
    color: #472060;
    font-weight: 400; 
}

.topnav-right {
  float: right;
}










table{
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri,"Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #545454;
    font-size: 20px;
 
}
td {
  vertical-align:top;
    font-size: 20px;
   
}

a.purple:link{
        color: #294796;
    font-size: 20px;
 
      }
      a.purple:visited{
        color: #545454;
          font-size: 20px;
      }
      a.purple:hover{
        color: #545454;
          font-size: 20px;
      }

a.purpleCV:link{
        color: #294796;
    font-size: 16px;
    text-decoration: none;
 
      }
      a.purpleCV:visited{
        color: #545454;
          font-size: 16px;
      }
      a.purpleCV:hover{
        color: #545454;
          font-size: 16px;
      }
