@font-face {
    font-family: 'Bondi';
    src:url('webfonts_Bondi/Bondi.ttf.woff') format('woff'),
        url('webfonts_Bondi/Bondi.ttf.svg#Bondi') format('svg'),
        url('webfonts_Bondi/Bondi.ttf.eot'),
        url('webfonts_Bondi/Bondi.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fulbo-Retro';
    src:url('webfonts_Fulbo-Retro/Fulbo-Retro.ttf.woff') format('woff'),
        url('webfonts_Fulbo-Retro/Fulbo-Retro.ttf.svg#Fulbo-Retro') format('svg'),
        url('webfonts_Fulbo-Retro/Fulbo-Retro.ttf.eot'),
        url('webfonts_Fulbo-Retro/Fulbo-Retro.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}




}


body {
    margin: 50px 25px 25px 25px;
    padding: 0;
    background: #fff;
    background-image: linear-gradient(270deg, rgb(232, 227, 235) 0%, rgb(255, 255, 255) 100%);
    -webkit-font-smoothing: antialiased;
    color: #545454;
    font-size: 20px; 
}

   
h1 { 
    font-family: "Bondi", "Fulbo-Retro",  "Walter Turncoat", "Atomic Age", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px; 
    font-variant: normal; 
    font-weight: 450; 
    color: #545454;
    padding: 0;
    margin: 0;
    margin-top: 0.8em;
    margin-bottom: -10px; 
}

h2 { 
    font-family:  Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; 
    
    font-variant: normal; 
    font-weight: normal; 
    color:#545454;
    margin-top:0px}
    
h3 { 
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px; 
    font-variant: normal; 
    font-weight: normal; 
    color:#8C749C;
    padding: 0;
    margin: 0;
    margin-top: 0; 
}

  h4 { 
      font-family:  Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; 
    
    font-variant: normal; 
    font-weight: normal; 
    color:#545454;
    margin-top:0px}
    

  h5 { 
      font-family:  Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; 
    font-variant: normal; 
    font-weight: normal; 
    color:#472060;
    margin-top:0px}


.title {
 font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 3px 9px 9px;
}

.topnav {
    overflow: hidden;
    background-color: #472060;
    border: 2px solid #8C749C;
}

.topnav a {
    font-family:"Bondi", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 30px;
    float: left;
    color: #fff;
    text-align: center;
    padding: 3px 7px;
    text-decoration: none;

}

.topnav a:hover {
  background-color: #8C749C;
  color: white;
    
}

.topnav a.active {
    background-color: #fff;
    color: #472060;
    font-weight: 400; 
}

.topnav-right {
  float: right;
}

/*/ tabletest /*/
 div.container {
    width:95%; 
    margin:1%;
      margin-left: auto;
  margin-right: auto;
  }
.styled-table {
    border-collapse: collapse;
    margin-left: auto;
  margin-right: auto;
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Montserrat', 'Lexend Mega','Open Sans', sans-serif;
    min-width: 400px;
    color: #472060;
}


.styled-table thead tr {
    font-size: 20px;
    font-weight: bold;
    color: #472060;
    background-color: #fff;
    text-align: left;
     padding: 5px 5px;
    vertical-align: top;
}

.styled-table th,
.styled-table td {
    padding: 5px 0px;
}

.styled-table td.year {
    padding: 5px 16px;
    text-align: left;
}

.styled-table td.pubtype {
    padding: 5px 15px;
     font-size: 16px;
    font-weight: bold;
    color: #472060;
    vertical-align: top;
}

.styled-table td.pubs {
    padding: 5px 15px;
     font-size: 16px;
       font-weight: normal;
    color: #472060;
    vertical-align: top;
}
    
.styled-table tbody tr {
}

.styled-table tbody tr.details {
    font-size: 12px;

    vertical-align: top;
}


.styled-table tbody tr:nth-of-type {

}

.styled-table tbody tr:last-of-type {
    vertical-align: top;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
/*/ 
table{
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri,"Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #545454;
    font-size: 20px;
 
}
/*/ 

a.purple:link{
        color: #294796;
    font-size: 20px;
 
      }
      a.purple:visited{
        color: #545454;
          font-size: 20px;
      }
      a.purple:hover{
        color: #545454;
          font-size: 20px;
      }

a.purpleCV:link{
    color: #294796;
 
      }
    a.purpleCV:visited{
        color: #545454;
      }
      a.purpleCV:hover{
        color: #545454;
      }
